<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">    
  </head>
  <body>
  	<!-- Header -->
    <div class="header b-yellow f-white">
		<a href="javascript:void(0)" class="home" data-route="home">Home</a>
    	<a href="javascript:void(0)" class="user p10" data-route="user">
    		<div class="image inline">
    			<img src="/images/movies/10.jpg" />
    		</div>
    		<div class="name inline">John Doe</div>
    	</a>
    </div>
	
	<!-- Content -->
	<div id="" class="content">
		
	</div>
	
	<!-- Video -->
	<video id="video" src="" width="320" controls class="hide"></video>
	
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="/javascripts/main.js" /></script>
	<script src="/javascripts/horizontalScroll.js" /></script>
	<script src="/javascripts/router.js" /></script>
	<script src="/javascripts/videoPlayer.js" /></script>
  </body>
</html>
