/* GLOBAL STYLES */
html { height: 100%; }
body { font: 14px "Segoe UI", Helvetica, Arial, sans-serif; color: #373737; background-color: #eee; height: 100%; }
a { color: inherit; text-decoration: none; }
ul { margin: 0; padding: 0; list-style: none; }
h1, h2, h3 { margin: 0; font-weight: 100; }

/* REUSABLE CLASSES */
.block, .show { display: block; }
.inline { display: inline-block; }
.hide { display: none; }
.text-bold { font-weight: bold; }
.text-center { text-align: center; }

/* PADDING, MARGINS */
.m5 { margin: 10px; }
.m10 { margin: 10px; }
.m20 { margin: 20px; }
.m30 { margin: 30px; }
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p20 { padding: 20px; }
.p30 { padding: 30px; }
 
/* COLOR PALLETE */
.g-black { background: #232526; background: -webkit-linear-gradient(to left, #232526 , #414345); background: linear-gradient(to left, #232526 , #414345); }
.b-white { background-color: #ffffff; }
.b-black { background-color: #373737; }
.b-grey { background-color: #252a26; }
.b-grey-light { background-color: #eee; }
.b-yellow { background-color: #ffc40d; }
.b-yellow-light { background-color: #ffd34c; }
.f-white { color: white; }
.f-yellow { color: #ffc40d; }
.f-grey { color: #373737; }

/*REUSABLE COMPONENTS*/
.header { height: 50px; position: relative; display : flex; align-items : center; }
.header { -webkit-box-shadow: 0px -7px 27px 1px rgba(0,0,0,0.58); -moz-box-shadow: 0px -7px 27px 1px rgba(0,0,0,0.58); box-shadow: 0px -7px 27px 1px rgba(0,0,0,0.58); }
.header .home { padding-left: 20px; font-size: 18px; }
.header .user { position: absolute; top: 0; right: 0; display : flex; align-items : center; border-left: 1px solid #dedede; }
.header .user .image { width:30px; height: 30px; border-radius: 30px; overflow: hidden; margin-right: 5px; }
.header .user .image img { width: 30px; }
.header .user:hover { background-color: #969696; }

.scroll { padding: 30px 0; overflow: hidden; }
.scroll .items { width: 6840px; }
.scroll .items li { float: left; width: 214px; margin-right: 3px; }
.scroll .items li a { display: block; }
.scroll .items li a img { width: 214px; }
.scroll .items li a .info .desc { display: none; }
.scroll .items li a .info .title { padding-right: 3px; font-weight: 100; }
.scroll .items li a:hover img { opacity: 0.8; }
.scroll .items li:last-child { margin-right: 0px; }

@media only screen and (max-width: 480px) {
    #home.content { padding: 0px; }
    
    h2 { padding: 10px; font-weight: 600; font-size: 14px; background-color: #fff; }
    
    .scroll { padding: 0 }
    .scroll .items { width: 100% !important; transform: translateX(0) !important; }
    .scroll .items li { float: none; margin-right: 0; width: auto; padding: 10px; border-top: 1px solid #d2d2d2; background-color: #fff; }
    .scroll .items li:last-child { border-bottom: 0; }
    .scroll .items li:hover { background-color: #eee; }
    .scroll .items li a { overflow: hidden; }
    .scroll .items li a img { width: 30%; float: left; }
    .scroll .items li a .info { margin-left: 33%; font-size: 12px; }
    .scroll .items li a .info .title { font-weight: bold; }
    .scroll .items li a .info .desc { display: block; }    
}

/*PAGE SPECIFIC*/

/* Home and user page */
#home.content { padding: 40px 20px; }
#user.content { padding: 0 }

/* User page */
#user .profileContainer .profile { width: 700px; margin: 0 auto 30px auto; padding: 30px 0; }
#user .profileContainer .profile .name { font-size: 80px; font-weight: light; }
#user h2 { width: 700px; margin: 0 auto 30px auto; }
#user .delete { width: 680px; margin: 0 auto 20px auto; display: block; padding: 10px; }
#user .static { width: 700px; margin: 0 auto 30px auto;  }
#user .static .items li { background: #fff; overflow: hidden; margin-bottom: 20px; width: 100%; }
#user .static .items li img { float: left; }
#user .static .items li .info { margin-left: 214px; padding: 20px; }
#user .static .items li .info .title { font-weight: bold; }
#user .static .items li .info .time { font-style: italic; }
#user .static .items li .info > div { margin-bottom: 5px; }

@media only screen and (max-width: 768px) {
    #user h2 { width: auto; margin: 0; background-color: #fff; padding: 10px; }
    #user .delete { width: auto; margin: 0; border-top: 1px solid #d2d2d2; }
    #user .profileContainer .profile { width: auto; margin: 0; padding: 10px 10px 20px 10px; }
    #user .static { width: 100%; margin: 0; }
    #user .static .items .empty { padding: 10px; display: block; } 
    #user .static .items li { border-top: 1px solid #d2d2d2; margin-bottom: 0; padding: 10px; width: auto; }
    #user .static .items li .info { padding: 0 0 0 10px; };  
}

@media only screen and (max-width: 480px) {
    #home.content { padding: 0px; }
    
    #user .profileContainer .profile { display: none; }
    #user .static { padding: 0 }
    #user .static .items { overflow: hidden; }       
    #user .static .items li img { width: 40%;  }
    #user .static .items li .info { font-size: 12px; margin-left: 40%; };
}


